<form id="input-view" style="width: 100%; display: flex; align-items: center; padding: 15px 0;" onsubmit="return sendMessage()">
  <input id="message" type="text" placeholder="Message..." style="height: 25px; flex-grow: 1;">
  <button style="padding: 10px; margin: 0 10px; border-radius: 5px;" type="submit">Send message</button>
</form>
