<form method="post" action="/login" id="login" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
  <h1>GeoChat Login</h1>
  <table style="margin-bottom: 10px">
    <tr style="height: 30px;">
      <td>
        <label for="username">Username:</label>
      </td>
      <td>
        <input name="username" id="username" type="text" required>
      </td>
    </tr>
    <tr style="height: 30px;">
      <td>
        <label for="password">Password:</label>
      </td>
      <td>
        <input name="password" id="password" type="password" required>
      </td>
    </tr>
  </table>
  <button type="submit">Log in</button>
</form>
